Q1. My_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] )
• Print all elements from my_tuple on a new line (using for loop)
• Create a new tuple by concatenating the first and last elements of my_tuple

In [ ]:
# Solution - 1

In [22]:
my_tuple = ((1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9])
for item in my_tuple:
    print(item)
new_tuple = my_tuple[0] + tuple(my_tuple[-1])
print(new_tuple)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]
(1, 2, 3, 7, 8, 9)

Q2. inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price": 8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, }
• Add a new book in inventory using method and get all book titles using method
• Remove a book if it's out of stock

In [ ]:
# Solution - 2

In [19]:
inventory = {
    "The Great Gatsby": {"price": 10.99, "quantity": 5},
    "Rich dad poor dad": {"price": 8.99, "quantity": 8},
    "Harry Potter": {"price": 12.50, "quantity": 2},
}

def add_book(inventory, title, price, quantity):
    inventory[title] = {"price": price, "quantity": quantity}

def get_all_titles(inventory):
    return list(inventory.keys())

def remove_out_of_stock_books(inventory):
    books_to_remove = [title for title, details in inventory.items() if details["quantity"] == 0]
    for title in books_to_remove:
        del inventory[title]

add_book(inventory, "The Ottoman Empire History", 15.99, 0)

book_titles = get_all_titles(inventory)
print("All Book Titles:", book_titles)

remove_out_of_stock_books(inventory)
print("\nUpdated Inventory (after removing out-of-stock books):")
print(inventory)

All Book Titles: ['The Great Gatsby', 'Rich dad poor dad', 'Harry Potter', 'The Ottoman Empire History']

Updated Inventory (after removing out-of-stock books):
{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}}

Q3. An ecommerce store stores information about its products in a nested dictionary. The outer
dictionary uses product IDs as keys, and the inner dictionary stores product details like name,
category, price, and stock quantity.
products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102:
{"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker",
"category": "Home Appliances", "price": 80, "stock": 30} }
• Increase the stock of the "Shirt" product (add 50 more units)
• Add a new product (e.g., "Smartphone")

In [ ]:
# Solution - 3

In [21]:
products = {
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50},
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30}
}
products[102]["stock"] += 50

products[104] = {
    "name": "Smartphone",
    "category": "Electronics",
    "price": 500,
    "stock": 100
}

print(products)

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 500, 'stock': 100}}

Q4. You are given a list that contains some duplicate items. Remove the duplicates by converting the
list to a set.
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

In [ ]:
# Solution - 4

In [27]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

# Convert the list to a set to remove duplicates
unique_items = set(shopping_list)

print(unique_items)

{'apple', 'grape', 'orange', 'banana'}

Q5. You are managing a list of students enrolled in two different courses. You need to perform
various set operations to understand the student enrollment. Task: Create two sets: one for students
in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in
"Course B" (difference). Find students who are only in one of the two courses (symmetric difference).
course_a = {"John", "Alice", "Bob", "David"} course_b = {"Alice", "Eve", "Charlie", "David"}
• Find students who are in Course A but not in Course B (difference)
• Find students who are only in one of the two courses (symmetric difference)

In [ ]:
# Solution - 5

In [29]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}

difference = course_a - course_b
symmetric_difference = course_a ^ course_b

print("Students in Course A but not in Course B:", difference)
print("Students in only one of the two courses:", symmetric_difference)

Students in Course A but not in Course B: {'John', 'Bob'}
Students in only one of the two courses: {'John', 'Charlie', 'Bob', 'Eve'}

Q6. Write a Python program that calculates the sum of all even numbers between 1 and 50
(inclusive) using a for loop.
Hint
1. Initialize a variable to hold the sum (e.g., sum_of_evens).
2. Use a for loop to iterate through all numbers from 1 to 50.
3. Inside the loop, check if the number is even.
4. If the number is even, add it to sum_of_evens.
5. After the loop finishes, print the total sum of all even numbers between 1 and 50.

In [ ]:
# Solution - 6

In [30]:
# Initialize a variable to hold the sum of even numbers
sum_of_evens = 0

# Use a for loop to iterate through all numbers from 1 to 50 (inclusive)
for number in range(1, 51):
    # Check if the number is even
    if number % 2 == 0:
        # Add the even number to the sum
        sum_of_evens += number

# Print the total sum of even numbers
print("The sum of all even numbers between 1 and 50 is:", sum_of_evens)

The sum of all even numbers between 1 and 50 is: 650